body {
  background-image: url("../images/bg/default.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: background-image 1s ease-in;

  main {
    text-align: center;
  }

  .wDetails {
    display: none;
  }

  .error {
    display: none;
  }
}

.hunit {
  display: none;
}

.cloud-bg {
  background-image: url("../images/bg/cloud.jpg");
}

.rain-bg {
  background-image: url("../images/bg/rain.jpg");
}

.clear-bg {
  background-image: url("../images/bg/clear.jpg");
}

.fog-bg {
  background-image: url("../images/bg/fog.jpg");
}

.snow-bg {
  background-image: url("../images/bg/snow.jpg");
}

.sun-bg {
  background-image: url("../images/bg/sun.jpg");
}

.others-bg {
  background-image: url("../images/bg/others.jpg");
}
